# Maven package Java project Web App to Linux on Azure
# Build your Java project and deploy it to Azure as a Linux web app
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- master

#pr:
  #branches:
    #include:
    #- master

variables:

  # Azure Resource Manager connection created during pipeline creation
  azureSubscription: 'iacautomationarm'

  # Web app name
  webAppName: 'iacautomationservice'
  

  # projnameprefix
  projnameprefix: 'iacautomation'

  # Agent VM image name
  vmImageName: 'ubuntu-latest'

stages:
- stage: Build
  displayName: Build stage
  jobs:
  - job: MavenPackageAndPublishArtifacts
    displayName: Maven Package and Publish Artifacts
    pool:
      vmImage: $(vmImageName)

    steps: 
    - task: SonarCloudPrepare@1
      inputs:
        SonarCloud: $(projnameprefix)sc
        organization: 'genericorg-1'
        projectKey: $(projnameprefix)
        projectName: $(projnameprefix)
        scannerMode: 'Other'
        ######extraProperties: |
          ####sonar.coverage.jacoco.xmlReportPaths=CCReport43F6D5EF/jacoco.xml
        extraProperties: |
          sonar.host.url=https://sonarcloud.io
          sonar.projectKey=$(projnameprefix)
          sonar.organization=genericorg-1          


    - bash: |
          echo $(Build.SourceVersionMessage)
          idvalue=`echo $(Build.SourceVersionMessage) | awk -F"#" '{print $2}'`
          echo "${idvalue}"
          echo -n 2meijxrdwcazipaluawgwnifojj4fiee3qolgipd2qwlg7lb2fqa | az devops login --organization https://dev.azure.com/GenpactSimulator
          az devops configure --defaults organization=https://dev.azure.com/GenpactSimulator project=iacautomation
          az boards work-item update --id ${idvalue} --assigned-to "Vibhor Saxena" --description "Started Build Pipeline Preparation for Maven deps & Sonar endpoints" --state "active"
          echo "updated workitem state and transited to required board column.." 
      displayName: 'Preposition Task'

      
    - task: Maven@3
      displayName: 'Maven Package'
      inputs:
        mavenPomFile: 'pom.xml'
        goals: 'clean verify sonar:sonar package'
        #goals: 'package'
        options: '-Dmaven.test.failure.ignore=true'
        mavenOptions: '-Xmx3072m'
        javaHomeOption: 'JDKVersion'
        jdkVersionOption: '1.11'
        jdkArchitectureOption: 'x64'
        mavenAuthenticateFeed: false
        effectivePomSkip: false
        publishJUnitResults: true #updated from false to true
        testResultsFiles: '**/TEST-*.xml' #'**/TEST-*.xml'
        codeCoverageToolOption: 'JaCoCo'
        sonarCloudRunAnalysis: true
        sqMavenPluginVersionChoice: 'latest'

    - bash: ls -lrt /home/vsts/work/1/s
    - bash: chmod 777 /home/vsts/work/1/s/transistworkitems.sh  
    
    - bash: |
          echo $(Build.SourceVersionMessage)
          idvalue=`echo $(Build.SourceVersionMessage) | awk -F"#" '{print $2}'`
          echo "${idvalue}"
          echo -n 2meijxrdwcazipaluawgwnifojj4fiee3qolgipd2qwlg7lb2fqa | az devops login --organization https://dev.azure.com/GenpactSimulator
          az devops configure --defaults organization=https://dev.azure.com/GenpactSimulator project=iacautomation
          az boards work-item update --id ${idvalue} --assigned-to "Vibhor Saxena" --description "Maven Build and Packaging is completed" --state "Dev Complete"
          echo "updated workitem state and transited to required board column.." 
      displayName: 'Build Finished Task'

    #- task: ShellScript@2
      #inputs:
        #scriptPath: /home/vsts/work/1/s/transistworkitems.sh
        #args: '"active" "Maven Build and Packaging is completed"'

    #- task: WorkItemUpdater@2
      #inputs:
        #workitemsSource: 'WorkItems linked to the Build/Release'
        #workItemType: 'User Story'
        #workItemState: Active
        #workItemKanbanState: Active
        #workItemDone: true
        #linkBuild: true
        #updateAssignedTo: Always
        #updateFields: 'System.Description, Maven Build and Packaging is completed'

    - task: SonarCloudAnalyze@1
 
    - task: SonarCloudPublish@1
      displayName: 'Publish results on build summary'
      inputs:
        pollingTimeoutSec: '300'

    - bash: |
          echo $(Build.SourceVersionMessage)
          idvalue=`echo $(Build.SourceVersionMessage) | awk -F"#" '{print $2}'`
          echo "${idvalue}"
          echo -n 2meijxrdwcazipaluawgwnifojj4fiee3qolgipd2qwlg7lb2fqa | az devops login --organization https://dev.azure.com/GenpactSimulator
          az devops configure --defaults organization=https://dev.azure.com/GenpactSimulator project=iacautomation
          az boards work-item update --id ${idvalue} --assigned-to "Vibhor Saxena" --description "SonarCloud Code Coverage and Quality code analysis is completed" --state "Testing Complete"
          echo "updated workitem state and transited to required board column.." 
      displayName: 'Testing Computation Task'

    - bash: |
          echo $(Build.SourceVersionMessage) 
          idvalue=`echo $(Build.SourceVersionMessage) | awk -F"#" '{print $2}'`
          echo ${idvalue} > $(Build.ArtifactStagingDirectory)/CHANGES
      displayName: 'Pushing SourceVersionMessage Task'          
        
    - task: CopyFiles@2
      displayName: 'Copy Files to artifact staging directory'
      inputs:
        SourceFolder: '$(System.DefaultWorkingDirectory)'
        Contents: '**/target/*.?(war|jar)'
        TargetFolder: $(Build.ArtifactStagingDirectory)

    - bash: |
          ls -lrt $(Build.ArtifactStagingDirectory)/
      displayName: 'Print ArtifactStagingDirectory Task'  
      
    - upload: $(Build.ArtifactStagingDirectory)
      artifact: drop

#- stage: Deploy
#  displayName: Deploy stage
#  dependsOn: Build
#  condition: succeeded()
#  jobs:
#  - deployment: DeployLinuxWebApp
#    displayName: Deploy Linux Web App
#    environment: dev
      #name: dev
      #resourceType: VirtualMachine
#    pool:
#      vmImage: $(vmImageName)
#    strategy:
#      runOnce:
#        deploy:
#          steps:
#          - task: AzureWebApp@1
#            displayName: 'Azure Web App Deployment'
#            inputs:
#              azureSubscription: $(azureSubscription)
#              appType: webAppLinux
#              appName: $(webAppName)
#              package: '$(Pipeline.Workspace)/drop/**/target/*.?(war|jar)'
